<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." ,id: :micropost_content%>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
  $('#micropost_content').autocomplete({
      source: "/users/auto_complete.json",
      autoFocus: true,
      delay: 500,
      minLength: 2,
      autoFocus: true,
      select: function(event, ui) {
        //クリックして返す値の選定
        $('#micropost_content').val("@" + ui.item.unique_id);
        return false;
      }
      //オートコンプリートの表示
    }).data("ui-autocomplete")._renderItem = function(ul, item) {
      return $("<li>").attr("data-value", "@" + item.unique_id).data("ui-autocomplete-item", item).append("<a>@" + item.unique_id + "</a>").appendTo(ul);
    };
</script>